@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500&family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed';
    margin: 8px 8px 8px 8px;
    background:url(back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0 ;
    border-radius: 8px;
}.logo {
    cursor: pointer;
    margin-left: 45%;
    width: 150px;
    height: 110px;
    border-radius:50px ;
}
/* .nav_list {
    display: flex;
    padding-left: 0%;
    position: relative;
    
}
.nav_list li {
    display: inline;
    padding: 0px 8px ;
 
}
.nav_list li a {
    left: 0%;
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav_list li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(61, 129, 231);
} */
article {
    width: 1200px;
    color: white;
    position: relative;
}
article h1{
    font-size: xx-large;
    padding-left: 20px;
    color: #000;
    margin-top: 9%;
    letter-spacing: 2px;
}
article .par {
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
}
article span {
    color:#FFCA8D;
    font-size: 50px;
}
.form {
    width: 800px;
    height: 300px;
    background:linear-gradient(to top,rgb(0,0,0,0.3)50%,rgb(0,0,0,0.3)50%) ;
    position: relative;
    top: -180px;
    left: 37%;
    border-radius: 10px;
    padding: 20px;
}
.form .imgser {
    position: relative;
    width: 120px;
    left: 42%;
    margin-bottom: 20px;
}
.form .ipt {
    display: flex;
    margin-bottom: 20px;
}
.form .content {
    margin-left: 100px;
    width: 250px;
    display: inline;
}

.form .ipt select{
    width: 250px;
    height: 30px;
    background-color: black;
    border: solid #c59661 3px ;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.form .content input{
    width: 250px;
    height: 30px;
    background-color: black;
    border: solid #c59661 3px ;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.form .vend {
    margin-top: 30px;
    margin-left:100px ;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.btn {
    position: relative;
    width: 120px;
    height: 40px;
    top: -10%;
    left: 75%;
    border: none;
    background-color: #c59661 ;
    border-radius: 5px;
    cursor: pointer;

}
.btn a {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
@media screen and (max-width:500px) {
    body {
        width: 100%;
        height: 100%;
        font-family: 'Roboto Condensed';
        margin: 0px 0px 0px 0px;
        background: linear-gradient(to top,rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%);
    }
    .logo {
        cursor: pointer;
        margin-left: 25%;
        width: 150px;
        height: 110px;
    }
    article {
        width: 100%;
        color: white;
        position: relative;
    }
    article h1{
        font-size: large;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
    }
    article .par {
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 1.2px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    article span {
        color: #B59774;
        font-size: 25px;
    }
    .form {
        text-align: center;
        width: 100%;
        height: 100%;
        background:linear-gradient(to top,rgb(0,0,0,0.3)50%,rgb(0,0,0,0.3)50%) ;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 10px;
        padding: 20px;
    }
    .form .imgser {
        position: relative;
        left: 0;
        width: 80px;
        margin-bottom: 20px;
    }
    .form .ipt {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .form .content {
        width: 250px;
        margin-left: 0;
        display: inline;
    }
    
    .form  select{
        width: 250px;
        height: 30px;
        background-color: black;
        opacity: 0.6;
        border: solid #c59661 3px ;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .form .content input{
        width: 250px;
        height: 30px;
        background-color: black;
        opacity: 0.5;
        border: solid #c59661 3px ;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .form .vend {
        align-items: center;
        margin-top: -10px;
        margin-left: 0;
        color: white;
        font-weight: bold;
    }
    .btn {
        width: 100px;
        height: 30px;
        margin-top: 30px;
        border: none;
        background-color: #c59661 ;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn:hover {
        border-radius: 10px;
        cursor: pointer;
        background-color:  white;
    
    }
}