
body {
    font-family: "Gill Sans", sans-serif;
    background-color: #ffffff;
}
header {
    display: flex;
    align-items: center;
}
.logo {
    font-size: xx-large;
    background-color: black;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition: width 1s;
}
.logo:hover {
    width: 150px;

}
.nav_list {
    list-style: none;
}
.nav_list li {
    display: inline;
    padding: 0px 20px;
}
.nav_list li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;

}
.nav_list li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(61, 129, 231);
}
.stp3 {
    list-style: none;
    display: flex;
    padding: 0px 0px;
    
}
.stp3 li {

    display: inline;
    padding: 0px 10px;
}
.stp3 li a{
    
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.stp3 li a:hover {
    font-size: 16px;
    text-decoration: underline;
}
.container {
    width: 100%;
    float: left;
    
  }
.row {
  margin: 5px 0px;
  
}
.row  .column {
  padding: 8px;
  margin: 15px;
  float: left;
  border: solid #222329 1px;
}

.column {
  float: left;
  width: 20%;
}
.content {
  background-color: white;
  padding: 10px;
}
.rrp {
    color: gray;
}
.pay span{
    font-weight:bold ;
    text-decoration: underline;
}
.sav{
    color: green;
}